body {
  font-family: "Roboto", sans-serif;
  max-width: 720px;
  margin: auto;
  display: block;
  letter-spacing: .04em;
}

header {
  background-color: darkslategrey;
  color: white;
  padding: 12px;

}

h1 {
  font-size: 1.1rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
}

h2 {
  font-weight: lighter;
  color: cadetblue;
  margin-bottom: -5px;
}

ul {
  color: rgb(82, 94, 94);
  line-height: 1.5em;
}

header img {
  border-radius: 50%;
  height: 155px;
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
}

main {
  margin-left: 30px;
}

a {
  color: rgb(240, 155, 155);
}
footer {
  background-color: darkslategrey;
  color: white;
  text-align: center;
  font-size: small;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 8px;
  word-spacing: 0.25em;

}

#byuilink {
  color: white;
}

#lastmod {
  font-size: 0.75em;
}
